@import "tailwindcss";

@theme inline {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
